@import "./variables";

#mysidenav {
  position: fixed;
  z-index: 5;
  top: 90px;
  right: 0;
  border-radius: 5px;
  height: auto;
  transition: all 0.3s ease;
  // width: 100px;
  .mynav-items-container {
    display: flex;
    gap: 1rem;
    padding: 10px;
    // justify-content: center;
    align-items: center;

    .nav-container {
      transition: all 0.3s ease;
      background-color: rgba(71, 70, 70, 0.726);
      border-radius: 5px;
      display: flex;
      gap: 2rem;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .for-self-logo {
        img {
          width: 100px;
          height: 100px;
        }
      }
      // .self9-title {
      //   padding: 20px;
      //   font-weight: bold;
      //   color: $primary_color;
      //   font-size: 20px;
      //   transform: rotate(90deg);
      //   .city {
      //     font-style: italic;
      //     color: #000;
      //   }
      // }
      .show-nav-menu {
        cursor: pointer;
        padding-top: 20px;
        padding-bottom: 20px;
        .fa-bars {
          color: #fff;
          font-size: 20px;
        }
        .fa-times {
          color: #fff;
          font-size: 20px;
        }
      }
      .cancel-btn {
        display: none;
        cursor: pointer;
        padding-top: 20px;
        padding-bottom: 20px;
        .fa-times {
          color: #fff;
          font-size: 20px;
        }
      }
    }
    .navbar-menu-container {
      transition: all 0.3s ease;
      display: none;
      // flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      background-color: rgba(71, 70, 70, 0.726);
      height: 400px;
      border-radius: 5px;
      // h4 {
      //   color: $primary_color;
      //   font-weight: bold;
      //   font-size: 30px;
      // }
      // .mottor {
      //   display: flex;
      //   justify-content: center;
      //   color: $primary_color;
      //   font-weight: bold;
      // }
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        li {
          padding: 10px;
          cursor: pointer;
          a {
            color: $primary_color;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
            &:hover {
              background-image: linear-gradient(to right, #f5d020, #f57803);
              color: white;
            }
          }
          .for-rents {
            position: absolute;
            display: none;
            background-image: linear-gradient(to right, #363534, #6e6e6c);
            border-radius: 5px;
            transition: all 0.3s ease;
            ul {
              list-style-type: none;
              display: flex;
              flex-direction: column;
              gap: 1rem;
              li {
                padding: 3px;
                a {
                  font-size: 10px;
                  padding: 5px;
                  &:hover {
                    background-image: linear-gradient(
                      to right,
                      #f5d020,
                      #f57803
                    );
                    color: white;
                    border-radius: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// media queries
@media (max-width: 700px) {
  #mysidenav {
    width: 100%;
    top: 10px;
    .mynav-items-container {
      display: flex;
      flex-direction: column;

      .nav-container {
        display: flex;
        flex-direction: row;
        .self9-title {
          padding: 10px;
          font-weight: bold;
          color: $primary_color;
          font-size: 15px;
          transform: rotate(0deg);
          .city {
            font-style: italic;
            color: #000;
          }
        }
        .show-nav-menu,.cancel-btn {
        cursor: pointer;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 10px;
        
      }
      }
      .navbar-menu-container {
        height: auto;
        width: 100%;
        width: inherit;
        h4 {
          display: none;
        }
        .mottor {
          display: none;
        }
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          // flex-direction: column;
          li{
            padding: 5px;
            a{
              font-size: 15px;
              padding: 5px;
              &:hover{
                padding: 5px;
              }
            }
            .for-rents {
            position: absolute;
            display: none;
            background-image: linear-gradient(to right, #363534, #6e6e6c);
            border-radius: 5px;
            transition: all 0.3s ease;
            ul {
              list-style-type: none;
              display: flex;
              flex-direction: column;
              gap: 1rem;
              li {
                padding: 5px;
                a {
                  font-size: 10px;
                  padding: 5px;
                  &:hover {
                    background-image: linear-gradient(
                      to right,
                      #f5d020,
                      #f57803
                    );
                    color: white;
                    border-radius: 5px;
                  }
                }
              }
            }
          }
          }
        }
      }
    }
  }
}
