@import './variables';
.ourmission {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  .mission1 {
    .fa-money-bill {
      text-align: center;
      font-size: 50px;
    }
  }
  .mission2 {
    img {
      width: 50px;
      height: 50px;
    }
  }
  .mission3 {
    .fa-home {
      font-size: 50px;
    }
  }
}
.location-contact{
    display: flex;
    gap: 2rem;
    justify-content: center;

    button{
        background-image: linear-gradient(to right, #f57803, #f5d020);
        text-decoration: none;
        font-weight: bold;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 24px;
        border: none;
        outline: none;
        &:hover {
          background-image: linear-gradient(to right, #f5d020, #f57803);
          color: white;
        }
        &:focus{
            border: none;
        outline: none;
        }
    }
}

.about-footer{
  width: 100%;
  height: 50px;
  background-color: grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  footer{
    font-weight: bold;
  }
}