* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  overflow-x: hidden;
  line-height: 1.5;
  background: #d3d3d3;
}

.butt {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb727), to(#ffdb27));
  background-image: linear-gradient(to right, #ffb727, #ffdb27);
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 24px;
  border: none;
  outline: none;
}

.butt:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffdb27), to(primary_color));
  background-image: linear-gradient(to right, #ffdb27, primary_color);
  color: white;
}

.butt:focus {
  border: none;
  outline: none;
}

nav {
  background-color: #2222227a;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  color: white;
  position: fixed;
  z-index: 4;
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 20px;
  font-weight: 700;
}

nav ul li.logo .logotitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul .mybars {
  font-size: 30px;
  margin-right: 10px;
  display: none;
  cursor: pointer;
}

nav ul .navitems {
  padding: 0 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul .navitems .cancelbtn {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 10px;
  display: none;
}

nav ul .navitems li {
  font-size: 18px;
  padding: 0 12px;
  font-weight: bold;
}

nav ul li.search input {
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
  font-size: 16px;
}

@media screen and (max-width: 820px) {
  .nav {
    padding: 10px 40px 10px 0px;
  }
  .nav .logo {
    display: none;
  }
  .nav .mybars {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: block;
  }
  .nav .items {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

@media (max-width: 668px) {
  .nav ul .mybars {
    display: block;
  }
  .nav ul .notactive {
    display: none;
  }
  .nav ul .items {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222222;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    display: block;
    padding: 40px 0;
    text-align: center;
  }
  .nav ul .items .cancelbtn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 10px;
  }
  .nav ul .items li {
    margin-top: 40px;
    font-size: 24px;
  }
}
/*# sourceMappingURL=navigation.css.map */