{% extends "estate/otherbase.html"%}
{% load humanize %}
{% load static %}
{% block title %}
About Self9 City
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<br><br>
<br><br>
<br>
<div class="container">
    <h2 class="text-center">Self9 <span class="h2-city">City</span></h2>
    <br>
    <div class="ourmission">
        <div class="mission1">
            <span class="sell-home"></span>
            <h3 class="text-center">
                <i class="fas fa-money-bill"></i>
                <br>
                Sell your home
            </h3>
            <p>Looking to sell your house FAST?  We buy homes in any condition, <br>in any market, and can make you an offer in less than 24 hours.</p>
        </div>
        <div class="mission2">

            <h3 class="text-center">
                <img src="{% static 'estate/images/engineer.png' %}" alt="">
                <br>
                Contractors
            </h3>
            <p>We partner with local, reputable construction companies to renovate properties and revitalize communities. </p>
        </div>
        <div class="mission3">
            <span class="realtors"></span>
            <h3 class="text-center">
                <i class="fas fa-home"></i>
                <br>
                Realtors
            </h3>
            <p>We work with a wide network of top agents on both sides of the transactions. <br> Whether you're needing a cash buyer, or you are looking for your next listing, contact us today.</p>
        </div>
    </div>
    <br>
    <h3 class="text-center">Why work with us?</h3>
    <p>Transparency and integrity is the centerpiece of every deal we do.  We are always upfront with our offers and pride ourselves on doing business the right way. Safe9  City is committed to rejuvenating Space Coast communities through our systematic and disciplined approach, and creating lasting change in every neighborhood we encounter.</p>
    <br>
    <div class="need-to-sell-home">
        <h2>Need to sell your home?</h2>
        <h4 class="text-muted">Here To Help You Realize Your Real Estate Goals</h4>
        <p>Most homeowners have no idea what options are available to them beyond listing a house with a real estate agent or just trying to sell the house on their own, and hope for the best.  We provide homeowners with a unique alternative to listing their house on their own or with a real estate agent.</p>
    </div>
    <br>
    <div class="location-contact">
        <div class="location-on-map">
            <iframe
          width="500"
          height="300"
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=Accra%20EastLegon&t=&z=13&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        ></iframe>
        </div>
        <div class="contact-us-form">
            <h3>Contact us today for more info</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-control">
                    {{ form|crispy }}
                </div>
                <br>
                    <button id="contact-butt" type="submit">Send</button>
            </form>
        </div>
    </div>
    <br>
</div>
<br>
<div class="about-footer">
    <footer>
        Copyright &copy; 2021 Safe9 City
    </footer>
</div>
{% endblock %}