{% extends "estate/base.html"%}
{% load static %}
{% block title %}
About Self9 City
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="video-container">
  <video autoplay loop muted width="100%">
    <source src="{% static 'estate/vids/self9city.mp4' %}" />
  </video>
</div>
<br>
<div class="container">
  <div class="jumbotron">
    <h2 class="display-6 text-muted">About US</h2>
    <p class="text-muted">At Self9 City, we are your one-stop-shop for all things Real Estate. With a resolution to always
      offer 5-star Service to our clients, we are here for you and all your property requirements and queries. At the
      crux of our Business is that, we work relentlessly to provide hassle-free tailored Real Estate advice and
      Consultancy for Investors and Families alike who are looking to find the perfect home.
      We take pride in our diverse portfolio, of not just services but also the Self9 City team members.
      Established in 2021. Today, we do not only help our clients buy and lease a property but also manage their
      property, help you find the right financing options or get them the perfect holiday home. We pride ourselves in
      being transparent, honest and professional to deliver the best results for our clients. We build Smart and
      Intelligent homes of Positivity, Happy Energy, Beauty and Dignity, Security, Diversity and also connect you to
      Nature.
    </p>
  </div>
  <br>
  <div class="jumbotron">
    <h2 class="display-6 text-muted">WHY CHOOSE US</h2>
    <p class="text-muted">Choosing the right Estate Agency could be the most important decision that you make. The right
      Estate Agency can make the difference between your property being sold quickly at the right price or not
      being sold at all.
      Property is our passion here at Self9 City. Through hardwork, dedication and boundless enthusiasm coupled
      with just a year of experience, we have managed to establish a reputation as one of the most successful
      firms of estate agencies in Ghana. We offer a comprehensive and professional marketing Service which we
      believe, is second to none and put simply, we do more and work harder to sell or rent your property.</p>
  </div>
  <br>
  <hr class="my-4">
  <!-- Card deck -->
  <div class="card-deck">
    <div class="card mb-4">
      <div class="view overlay" style="display: flex;justify-content: center;align-items: center;padding: 20px;">
        <img class="card-img-top" src="{% static 'estate/images/eye.png' %}" alt="vision"
          style="width: 100px;height: auto;">
        <a href="">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <div class="card-body">
        <h4 class="card-title text-muted">Vision</h4>
        <p class="card-text text-muted">To be the choice for anyone considering buying, selling or renting a property in Ghana and
          provide service to an outstanding standard, building key relationships.</p>
      </div>
    </div>
    <!-- Card -->
    <div class="card mb-4">
      <div class="view overlay" style="display: flex;justify-content: center;align-items: center;padding: 20px;">
        <img class="card-img-top" src="{% static 'estate/images/target.png' %}" alt="Card image cap"
          style="width: 100px;height: auto;">
        <a href="">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title text-muted">Mission</h4>
        <p class="card-text text-muted">Our mission is to provide Ghana with a real estate agency that listens to client needs
          along with a loyal customer base, professional team and sterling reputation.</p>
      </div>
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">
      <div class="view overlay" style="display: flex;justify-content: center;align-items: center;padding: 20px;">
        <img class="card-img-top" src="{% static 'estate/images/value.png' %}" alt="Card image cap"
          style="width: 100px;height: auto;">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title text-muted">Values</h4>
        <p class="card-text text-muted">We will show integrity, carry out our job with passion, respect one another, show the
          utmost professionalism and work as a team to meet our clients’ needs.</p>
      </div>
    </div>
  </div>
  <!-- Card deck -->
  <hr class="my-4">
  <div class="container">
    <h3 class="text-center text-muted">Contact us </h3>
    <br>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3 mr-auto" id="contactlists">
        <div class="communication" style="display: flex;gap: 1rem;">
          <ul class="list-group z-depth-1-half">
            <li class="list-group-item text-muted">
              <img src="{% static 'estate/images/phone-call.png' %}" alt="" style="width: 30px;height: 30px;">
              0501095601 / 0552868008
            </li>
            <li class="list-group-item text-muted">
              <img src="{% static 'estate/images/email.png' %}" alt="" style="width: 30px;height: 30px;">
              info@self9city.com
            </li>
            <li class="list-group-item text-muted">
              <img src="{% static 'estate/images/pin.png' %}" alt="" style="width: 30px;height: 30px;"> Box GP 3386,
              Accra

              GT-358-8053
            </li>
            <li class="list-group-item">
              <div class="social-media" style="display: flex;gap: 1rem;justify-content: space-between;">
                <a target="_blank"
                  href="https://m.facebook.com/self9city/?notif_t=page_invite_accept&notif_id=1622816759559239&ref=m_notif">
                  <img alt="" src="{% static 'estate/images/facebook.png' %}" style="width:40px;height:40px;">
                </a>
                <a target="_blank" href="https://www.instagram.com/self9city/">
                  <img alt="" src="{% static 'estate/images/instagram.png' %}" style="width:40px;height:40px;">
                </a>
                <a target="_blank" href="https://twitter.com/self9city?s=09">
                  <img alt="" src="{% static 'estate/images/twitter.png' %}" style="width:40px;height:40px;">
                </a>
              </div>
            </li>
          </ul>
        </div>
        
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 mb-3 ml-auto">

        <form method="post">
          {% csrf_token %}
          <div class="form-control">
            {{ form|crispy }}
          </div>
          <br>
          <button id="contact-butt" style="background-image: linear-gradient(to right, #f57803, #f5d020);
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 24px;
  border: none;
  outline: none;cursor: pointer;" type="submit">Send
          </button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div>
          <iframe frameborder="0" id="gmap_canvas" marginheight="0" marginwidth="0" scrolling="no"
            src="https://maps.google.com/maps?q=Accra%20EastLegon&t=&z=13&ie=UTF8&iwloc=&output=embed"
            width="100%"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-footer">
  <footer>
    Copyright &copy; 2021 Self9 City <br>
    <small class="">Havens Software Development</small>
  </footer>
</div>
{% endblock %}