{% extends "estate/base.html"%}
{% load humanize %}
{% block title %}
{{ listing.full_location }}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<br>
<h3 class="text-center mb-3 text-muted">{{ listing.full_location|slice:"30"}}</h3>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-8 mb-4 mr-auto">
            <a class="z-depth-1-half" data-lightbox="gallery" data-title="{{ image.listing.full_location }}"
                href="{{ listing.photo.url }}">
                <img class="z-depth-1-half img-responsive" src="{{ listing.photo.url }}" style="width:100%;">
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 ml-auto mb-4">
            <h5 class="text-muted">Contact for more information</h5>
            <form method="post">
                {% csrf_token %}
                <div class="form-control">
                    {{ form|crispy }}
                </div>
                <br>
                <button id="contact-butt" type="submit" style="background-image: linear-gradient(to right, #f57803, #f5d020);
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 24px;
  border: none;
  outline: none;cursor: pointer;">Send</button>
                <br>
                <small class="text-muted">By proceeding, you consent to receive calls and texts at the number and email you
                    provided.Please make sure all the information provided are valid. </small>
            </form>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 mr-auto mb-4 text-muted">
            <h6>{{ listing.listing_type }} {% if listing.rent_period %}({{ listing.rent_period }}) {% endif %}</h6>
            <span class="price">{{ listing.price }}</span> <span> <i class="fas fa-calculator"></i> EST.Payment $1,260 /
                month</span><br>
            <span>{{ listing.rooms}} rooms</span> <span>{{ listing.baths }} bath</span>
            <span>{{ listing.size_of_building }}</span><br>
            <span>{{ listing.full_location }}</span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 ml-auto mb-4">
            <iframe width="100%" height="150" id="gmap_canvas"
                src="https://maps.google.com/maps?q={{ listing.full_location}}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</div>
<div class="container listing_detail">
    <div class="listing-description text-muted">
        <h5>Listing Description</h5>
        <p>{{ listing.description }}</p>
    </div>
    <hr>
    <br>
    <h3 class="text-muted">Other images for {{ listing.full_location }}</h3>
    <div class="row">
        {% for image in listing_gallery %}
        <div class="col-xs-6 col-sm-6 col-md-4 mb-3">
            <a class="z-depth-1-half" data-lightbox="gallery" data-title="{{ image.listing.full_location }}"
               href="{{ image.images.url }}">
                <img alt="{{ g.image_caption }}" class="z-depth-1-half img-responsive" src="{{ image.images.url }}" style="width: 100%;">
            </a>
        </div>
        {% empty %}
        <p>Sorry, there are no more pictures for this listing</p>
        {% endfor %}
    </div>
    <br>
</div>
<br>
{% endblock content%}