{% load static %}

<div id="mysidenav">
  <div class="mynav-items-container">
    <div class="nav-container">
      <div class="for-self-logo">
        <img src="{% static 'estate/images/self-9.png'%}" alt="">
      </div>
      <div class="show-nav-menu">
        <i class="fas fa-bars"></i>
      </div>
      <div class="cancel-btn">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="navbar-menu-container">
      <ul>
        {% if request.user.is_authenticated %}
        <li title="go home"><a href="{% url 'my_index' %}">Home</a></li>
        <li title="add new listing">
          <a href="{% url 'create_listing' %}">
            <i class="fas fa-plus-circle"></i> Listings
          </a>
        </li>
        <li title="add to home listing gallery">
          <a href="{% url 'add_to_gallery' %}">
            <i class="fas fa-plus-circle"></i> Gallery
          </a>
        </li>
        <li title="add to home listing gallery">
          <a href="{% url 'contact-lists' %}">
            <i class="fas fa-comment"></i> Contact Lists
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>