{% extends "estate/base.html"%}
{% load humanize %}
{% block title %}
Apartments to Rent
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <h3 class="text-center">Rent your favorite apartment</h3>
    <br>
    <div class="estate-box mb-3">
        {% for list in rents %}
        <a class="listingbox mb-5" href="{{ list.get_absolute_listing }}">
            <div class="showcase-back"
                 style="background-image:url('{{ list.photo.url }}');background-size:cover;background-position:center;">
                <div class="overlay"></div>
            </div>
            <!--                <img src="{{ list.photo.url }}" alt="">-->
            <span class="on-overlay">
                    <span class="for-price">{{ list.price }}</span>
                    <span class="for-views">
                        <i class="fas fa-eye"></i> {{ list.views }}
                    </span>
                </span>
            <div class="roombath">
                <div>
                    <span>{{ list.rooms}} rooms</span> <span>{{ list.baths }} bath</span> <span>{{ list.size_of_building }}</span>
                </div>
                <div>
                    <span>{{ list.full_location }}</span><br>
                    <small class="text-muted">{{ list.date_posted|naturaltime}}</small>
                </div>
            </div>
        </a>
        {% endfor %}
        <br>
    </div>
    <br>
    <br>
    {% if rents %}
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-circle pg-blue pt-3">
            {% if rents.has_previous %}
            <li class="page-item "><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item ">
                <a aria-label="Previous" class="page-link" href="?page={{ page_range.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}
    
            {% for c in rents.paginator.page_range %}
            {% if rents.number == c %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ c }}">{{ c }}</a>
            </li>
            {% elif c > rents.number|add:"-3" and c < rents.number|add:"-3" %} {{ c }} {% else %} <li class="page-item">
                <a a class="page-link" href="?page={{ c }}">{{c }}</a></li>
                {% endif %}
                {% endfor %}
    
                {% if rents.has_next %}
                <li class="page-item">
                    <a aria-label="Next" class="page-link" href="?page={{ rents.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ rents.paginator.num_pages }}">Last</a>
                </li>
                {% endif %}
        </ul>
    </nav>
    {% endif %}
    <br>
</div>
{% endblock %}